<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>tracfone</td><td>API_Tests.tracfone_APIs()[pri:0, instance:com.royalcyber.restassured.Tracfone_API_Sanity.API_Tests@d8355a8]<br/></td></tr>
</table>
