<h2>Methods that were not run</h2><table>
<tr><td>com.royalcyber.restassured.Tracfone_API_Sanity.API_Tests.MyFamilyMobile_APIs</td></tr>
<tr><td>com.royalcyber.restassured.Tracfone_API_Sanity.API_Tests.Net10_APIs</td></tr>
<tr><td>com.royalcyber.restassured.Tracfone_API_Sanity.API_Tests.Total_wireless_APIs</td></tr>
<tr><td>com.royalcyber.restassured.Tracfone_API_Sanity.API_Tests.SimpleMobile_APIs</td></tr>
</table>