<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>APITestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8bcfcb">  <td>18/08/13 17:57:48</td>   <td>0</td> <td title="&gt;&gt;Helper.configAPI(java.lang.String, java.lang.String)[pri:0, instance:com.royalcyber.restassured.Tracfone_API_Sanity.API_Tests@d8355a8]">&gt;&gt;configAPI</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@837764579</td>   <td></td> </tr>
<tr bgcolor="c78c6b">  <td>18/08/13 17:57:50</td>   <td>2216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API_Tests.tracfone_APIs()[pri:0, instance:com.royalcyber.restassured.Tracfone_API_Sanity.API_Tests@d8355a8]">tracfone_APIs</td> 
  <td>main@837764579</td>   <td></td> </tr>
</table>
