<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.royalcyber.restassured.Tracfone_API_Sanity.API_Tests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Net10_APIs</td>
<td>net10 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>MyFamilyMobile_APIs</td>
<td>wfm </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tracfone_APIs</td>
<td>tracfone </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>SimpleMobile_APIs</td>
<td>simple_mobile </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Total_wireless_APIs</td>
<td>total_wireless </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
