<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>net10</td><td>API_Tests.Net10_APIs()[pri:0, instance:com.royalcyber.restassured.Tracfone_API_Sanity.API_Tests@1d057a39]<br/></td></tr>
<tr><td>simple_mobile</td><td>API_Tests.SimpleMobile_APIs()[pri:0, instance:com.royalcyber.restassured.Tracfone_API_Sanity.API_Tests@1d057a39]<br/></td></tr>
<tr><td>total_wireless</td><td>API_Tests.Total_wireless_APIs()[pri:0, instance:com.royalcyber.restassured.Tracfone_API_Sanity.API_Tests@1d057a39]<br/></td></tr>
<tr><td>tracfone</td><td>API_Tests.tracfone_APIs()[pri:0, instance:com.royalcyber.restassured.Tracfone_API_Sanity.API_Tests@1d057a39]<br/></td></tr>
<tr><td>wfm</td><td>API_Tests.MyFamilyMobile_APIs()[pri:0, instance:com.royalcyber.restassured.Tracfone_API_Sanity.API_Tests@1d057a39]<br/></td></tr>
</table>
