<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f76cb4">  <td>18/07/31 01:23:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API_Tests.MyFamilyMobile_APIs()[pri:0, instance:com.royalcyber.restassured.Tracfone_API_Sanity.API_Tests@1d057a39]">MyFamilyMobile_APIs</td> 
  <td>main@1308244637</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>18/07/31 01:23:32</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API_Tests.Net10_APIs()[pri:0, instance:com.royalcyber.restassured.Tracfone_API_Sanity.API_Tests@1d057a39]">Net10_APIs</td> 
  <td>main@1308244637</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>18/07/31 01:23:32</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API_Tests.SimpleMobile_APIs()[pri:0, instance:com.royalcyber.restassured.Tracfone_API_Sanity.API_Tests@1d057a39]">SimpleMobile_APIs</td> 
  <td>main@1308244637</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>18/07/31 01:23:32</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API_Tests.Total_wireless_APIs()[pri:0, instance:com.royalcyber.restassured.Tracfone_API_Sanity.API_Tests@1d057a39]">Total_wireless_APIs</td> 
  <td>main@1308244637</td>   <td></td> </tr>
<tr bgcolor="f76cb4">  <td>18/07/31 01:23:32</td>   <td>47</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API_Tests.tracfone_APIs()[pri:0, instance:com.royalcyber.restassured.Tracfone_API_Sanity.API_Tests@1d057a39]">tracfone_APIs</td> 
  <td>main@1308244637</td>   <td></td> </tr>
</table>
